
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

 
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    margin: 20px 0px;
}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    margin: 20px 0px;
}

h1{
    font-size: 48px;
    font-weight: 400;
}
h2{
    font-size: 36px;
    font-weight: 900;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
h4{
    font-size: 24px;
    font-weight: 400;
}
.p-1{
    font-size: 16px;
    font-weight: 400;
}
.p-2{
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #b3b3b3;
}
.max-w{
    max-width: 1400px;
    margin: auto;
}

.btn-1{
    width: 200px;
    height: 55px;
    padding: 10px 30px;
    background-color: #f4cb08;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    border: none;
    border-radius: 5px;
    margin: 20px 20px 20px 0px;
    /* margin-right: 15px; */
}
.btn-1:hover{
    color: #fff;
    background-color: #dcb707;
}
.btn-2{
    width: 240px;
    height: 55px;
    padding: 10px 30px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 20px 20px 20px 0px;
}
.btn-2:hover{
    color: #111111;
    background-color: #fff;
}
/* .divider{
    width: 72px;
    height: 5px;
    background-color: #f4cb08;
} */

/* <----------------------------Here above is global_code ----------------------------------------------> */



.header-row {
    width: 100%;
    background-color: #111111;
    height: 10vh;
    color: white;
    text-align: center;
    padding: 20px 40px;
}

.hero-row {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Elvo-Construction/assets/hero-bg.png");
    width: 100%;
    max-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
   
}

.hero-container {
    padding: 100px 40px;
    display: flex;
    
}
.col-left, .col-right{
    width: 50%;
    position: relative;
}
.col-left p:first-child {
    color: #f4cb08;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
  }
.divider{
    width: 80px;
    height: 5px;
    background-color: #f4cb08;
    display: inline-block;

}

.container-btn {
    display: flex;
}
.col-right {
    
}

.col-right img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    object-position: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -39%);
    
}
#Services .container{
    text-align: center;
}
#Services .container p:first-child {
    color: #f4cb08;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
  }






.intro-container {
    padding: 100px 40px;
    display: flex;
    
}
.pods-row {
}
.pods-container {
    width: 100%;
    height: auto;
}
.pod-col {
width: auto;
display: flex;
justify-content: flex-start;
align-items: flex-end;
color: #fff;

}
.pod-col h3{
    text-transform: uppercase;
}
.pod-content-1 {
    
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/Elvo-Construction/assets/pods-img/pod-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 200px 15px 20px;
    
}
.pod-content-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/Elvo-Construction/assets/pods-img/pod-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 200px 15px 20px;
}
.pod-content-3 {
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Elvo-Construction/assets/pods-img/pod-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 200px 15px 20px;
}

.Services-row {
    padding: 100px 40px;
}
.Services-container {
    padding-bottom: 40px;
}
.container-usp {
    width: 100%;
   
}
.container-usp img{
    width: 80px;
    height: 80px;
    margin: 0px 15px;
    border: 2px solid #f4cb08;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    margin-left: 0px;
    
}
.usp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 30px 15px 20px;
}

.Portfolio-row{
    background-color: #2c2c2c;
    padding: 60px 20px;
    color: #fff;
}

#Portfolio .container{
    text-align: center;
}
#Portfolio .container p:first-child {
    color: #f4cb08;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
}